[user]
	name = Jamie Nicol
	email = jamie@jamiern.uk
[core]
	excludesfile = /home/jamie/.gitignore_global
	fsmonitor = true
	untrackedcache = true
[init]
	defaultBranch = main
[pull]
	ff = only
[merge]
	conflictStyle = zdiff3
